<div class="w-full max-w-xl rounded-2xl px-16 py-8 bg-white/50 backdrop-blur-md shadow">
    <div class="w-full h-fit flex items-center gap-4">
        <div [ngStyle]="{backgroundColor: colors.primary}" class="w-2 h-6 rounded-full"></div>
        <div class="flex flex-col">
            <span class="text-xl font-black text-neutral-900">{{this.welcome?.residential_name}}</span>
            <span class="text-xs font-medium text-neutral-600">
                {{requerid? 'Iniciar sesión': 'Aceptar términos y condiciones'}}
            </span>
        </div>
    </div>
    <form [formGroup]="form" (ngSubmit)="saveLogin()" class="w-full flex flex-col gap-4 mt-8">

        @if (requerid) {
        <label for="document_number" class="container-field">
            <span>Número de identificación</span>
            <input id="document_number" type="text" class="peer" formControlName="document_number">
            <div class="focus-field peer-focus-visible:border-brand-orange-500 peer-focus-visible:border-2">
            </div>
        </label>
        <label for="password" class="container-field">
            <span>Contraseña</span>
            <input id="password" type="password" class="peer" formControlName="password">
            <div class="focus-field peer-focus-visible:border-brand-orange-500 peer-focus-visible:border-2">
            </div>
        </label>
        }
        <div class="w-full">
            <re-captcha formControlName="recaptcha" siteKey="6LfSkGQgAAAAAMRE2X1FxuhhGu0meHn7uF4NSJav"></re-captcha>
        </div>
        <div class="w-full flex gap-2 items-center">
            <nx-toggle-switch [values]="values" formControlName="accept_polity"></nx-toggle-switch>
            <p class="text-xs">Acepto los
                <a [ngStyle]="{color: colors.primary}" class=" font-bold hover:underline" href="http://">Términos y
                    condiciones del servicio</a> y las <a [ngStyle]="{color: colors.primary}"
                    class="font-bold hover:underline" href="http://">Políticas de privacidad</a> de <a
                    [ngStyle]="{color: colors.primary}" class="font-bold hover:underline" href="http://">Nexos SAS</a>
            </p>
        </div>
        <button type="submit" [ngStyle]="{backgroundColor: colors.primary}" class="b-primary py-2 px-4">{{requerid?
            'Iniciar sesión':
            'Ingresar'}}</button>
    </form>
</div>