<form class="px-8">
    <div class="w-full grid grid-cols-2 max-w-4xl px-4 py-4 gap-4">
        <div class="i-field flex-1 row-span-2 bg-brand-orange-50 rounded border-2 border-dashed border-neutral-400">

        </div>
        <div class="i-field flex-1 grid grid-cols-2 gap-4">
            <div class="i-field flex-1">
                <label>Base de datos extendida</label>
                <input type="text">
            </div>
            <div class="i-field flex-1">
                <label>A distancia</label>
                <input type="text">
            </div>
        </div>
        <div class="i-field flex-1">
            <label>Quórum en tiempo real</label>
            <input type="text">
        </div>
        <div class="i-field flex-1">
            <label>Resultado de votación al final</label>
            <input type="text">
        </div>
        <div class="i-field flex-1">
            <label>Código OTP</label>
            <input type="text">
        </div>
        <div class="i-field flex-1">
            <label>Resultado de voto recibido</label>
            <input type="text">
        </div>
        <div class="i-field flex-1">
            <label>Limite de porcentaje de aporte</label>
            <input type="text">
        </div>
        <div class="grid grid-cols-2 gap-2">
            <div class="i-field flex-1">
                <label>Cantidad de peticiones de unión</label>
                <input type="text">
            </div>
            <div class="i-field flex-1">
                <label>Limite de intervenciones</label>
                <input type="text">
            </div>
        </div>
        <div class="i-field flex-1">
            <label>Ciclo de verificación automática de asistencia en segundos</label>
            <input type="text">
        </div>
        <div class="col-span-2 flex gap-4 justify-end">
            <div class="flex-1">
                <button class="b-tertiary h-fit px-4 py-2">Cancelar</button>
            </div>
            <button class="b-secondary h-fit px-4 py-2">Cancelar</button>
            <button class="b-primary h-fit px-4 py-2">Siguiente</button>
        </div>
    </div>
</form>