<div class="w-full h-svh fixed top-0 left-0 flex justify-center items-center bg-neutral-900/70">
    <div class="w-full md:max-w-2xl h-full md:max-h-96 rounded-2xl bg-neutral-50 shadow px-4 py-8 flex flex-col gap-4">
        <div class="flex gap-4 items-center pt-4">
            <div class="w-4 h-10 rounded-full bg-brand-orange-500"></div>
            <div class="flex flex-col flex-1">
                <span class="text-2xl text-neutral-900 font-black">Manuscrito / Firma</span>
                <span class="text-xs font-medium text-neutral-600">Nombre del cliente</span>
            </div>
        </div>
        <div class="w-full flex-1 bg-neutral-200 rounded-2xl"></div>
        <div class="w-full flex justify-end">
            <button class="b-primary px-8 py-2">Enviar</button>
        </div>
    </div>
</div>