<div class="w-full flex-1 min-w-[56rem] rounded-2xl p-8 bg-white/50 backdrop-blur-md shadow">
    <div class="flex gap-4 items-center">
        <div class="w-4 h-10 rounded-full bg-brand-orange-500"></div>
        <div class=" flex flex-col flex-1">
            <span class="text-2xl text-neutral-900 font-black">Formulario de registro</span>
            <span class="text-xs font-medium text-neutral-600">Nombre del cliente</span>
        </div>
        <div class="w-48">
            <img src="assets/img/LOGO-FULL-BLACK.png" alt="">
        </div>
    </div>
    <div class="w-full grid grid-cols-2 gap-4 mt-4">
        <label for="field-1" class="container-field">
            <span>Campo 1</span>
            <input id="field-1" type="text" class="peer">
            <div class="focus-field peer-focus-visible:border-brand-orange-500 peer-focus-visible:border-2">
            </div>
        </label>
        <label for="field-2" class="container-field">
            <span>Campo 2</span>
            <input id="field-2" type="text" class="peer">
            <div class="focus-field peer-focus-visible:border-brand-orange-500 peer-focus-visible:border-2">
            </div>
        </label>
        <label for="field-3" class="container-field">
            <span>Campo 3</span>
            <input id="field-3" type="text" class="peer">
            <div class="focus-field peer-focus-visible:border-brand-orange-500 peer-focus-visible:border-2">
            </div>
        </label>
        <label for="field-4" class="container-field">
            <span>Campo 4</span>
            <input id="field-4" type="text" class="peer">
            <div class="focus-field peer-focus-visible:border-brand-orange-500 peer-focus-visible:border-2">
            </div>
        </label>
        <label for="field-5" class="container-field">
            <span>Campo 5</span>
            <input id="field-5" type="text" class="peer">
            <div class="focus-field peer-focus-visible:border-brand-orange-500 peer-focus-visible:border-2">
            </div>
        </label>
        <label for="field-6" class="container-field">
            <span>Campo 6</span>
            <input id="field-6" type="text" class="peer">
            <div class="focus-field peer-focus-visible:border-brand-orange-500 peer-focus-visible:border-2">
            </div>
        </label>
        <div class="col-span-2 flex justify-end mt-4">
            <button class="b-primary px-8 py-2">Enviar</button>
        </div>
    </div>
</div>